@import "bootstrap/less/variables";

@border-radius-base: 0;
@nav-pills-border-radius: 0;

@import "bootstrap/less/mixins";
@import "bootstrap/less/normalize";
@import "bootstrap/less/scaffolding";
@import "bootstrap/less/type";
@import "bootstrap/less/grid";
@import "bootstrap/less/breadcrumbs";
@import "bootstrap/less/pager";

img {
  max-width: 100%;
}

.layout {
  padding-top: 30px;
  padding-left: 2px;
  padding-bottom: 100px;
  overflow: hidden;
}

.breadcrumb {
  border-left: 1px solid #ddd;
}

.me {
  padding-top: 20px;
  padding-bottom: 10px;
}

.menu {
  display: inline-block;
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 8px;
}

.social {
  display: inline-block;
  margin: 5px;
  padding: 10px
  width: 32px;
  height: 32px;

  img {
    border-radius: 1px;
    width: 32px;
    height: 32px;
    background: #f3f3f3;
  }

  &:hover img {
    background: #fdfdfd
  }
}

.recent-articles li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.copyright {
  position: fixed;
  padding-left: 5px;
  padding-bottom: 2px;
  left: 0;
  bottom: 0;
}

@import "pages/about";
@import "pages/articles";
@import "pages/projects";
