.about
  :markdown
    **AJ Ostrow**

    I have an addiction. I tried it for the first time in 11th grade, at Garfield HS. I didn't feel
    peer pressured, I was just curious. People do it every day in Seattle. I worked at a place for three summers 
    where everyone was hooked. I started staying up late for hours on end, going to school without having 
    slept the night before, but it got worse.

    In university, I couldn't juggle my courses with my, well, other time obligations.
    After two years I dropped out of McGill, and moved on to write web services full time. (Get it? It was programming all 
    along. I'm addicted to *programming*. Eat, sleep, code, repeat.)

    Well the rest is boring, but here goes. I really like books. I'm always down for a book suggestion. I'll actually buy it and read it, and then we can talk about it over coffee book-club style. I read a lot of articles off twitter and hacker news too. 

    Sometimes I listen to turnt up dirty south rap music when I code. I also like chill wave / deep house / love step / anything with over ten million plays on youtube. With that many plays it has to be good, or at least catchy. 

    I'm into creative projects, and most of my friends are doing cool things. I hope to develop a taste for arts and design, and knack for business and product. I still have a long way to go, 
    but am more than willing to offer feedback on startup ideas, new music, technology stacks, etc. 

    Anyway, some shout outs.

    * [Adam Moshcatel](https://twitter.com/Moshcatel) for introducing me to [xkcd](http://xkcd.com/), and writing java code every day in 12th grade with a healthy dose of witty banter

    * [Hélène Martin](https://twitter.com/purplespatula) for teaching me computer science, and tolerating me at an age when I said things like "you only need to write tests if you make mistakes"

    * [Chris Mills](https://twitter.com/mjillster) for hiring me as [cobalt](http://www.cobalt.com/)'s first-ever intern, encouraging me to learn during the work day, and pairing me with wonderful mentors Matt, Wally, Nadeem

    * [Michael Abrash](http://blogs.valvesoftware.com/abrash/) for lending me a new android phone for a summer, and encouraging me to code in my free time or find a different passion

    * [Jacob Barnett](http://jbarnett.me/) for studying with me all of 1st year at mcgill, waking me up for exams, and making the assets for [mastermind](https://play.google.com/store/apps/details?id=com.ostrow.mastermind) our android app

    * [Carl Poulin](https://github.com/lilred) for competing in code jam with [Sami Jaber](http://samijaber.me/) and me 1st year, before i knew what javascript was, and scheming on ideal languages and tools

    * [Alex Bandhari](https://twitter.com/abyoungz) for long nights at new rez studying circuits

    * [Jack Johnson](https://twitter.com/J_AC_K) for what could have been meander

    * [Artur Minacov](https://twitter.com/aminacov) for introducing me to the startup lyfe with modreal, and convincing me to spend a summer in toronto

    * [Marc-Etienne Brunet](https://www.linkedin.com/pub/marc-etienne-brunet/67/416/77) for accepting me into the [mcgill energy project](http://mcgillenergyproject.wix.com/start), hiring me for the fumehood monitoring research, also the steam forecasting

    * [Marco Gomez](http://www.yoloventures.com/) for letting our team work out of his beautiful old port office

    * [Ian Tattersfield](http://tardissystems.net/) for having me work on the mcgill energy map

    * [Anthony Guay](https://twitter.com/anthoprotic) for building modde and iterating, and portuguese chicken

    * [Nick Mostovac](https://twitter.com/cocoabuttuh) for putting me up a summer in montreal

    * [Harry Brundage](https://twitter.com/harrybrundage) for teaching me how to package my first ruby gems [espn-scraper](https://github.com/aj0strow/espn-scraper) and [measurement](https://github.com/aj0strow/measurement), and being an example of leaving school early

    * [Michael Gord](https://twitter.com/BasedGord) for entering modde in the dobson cup, and introducing me to my first connections in canada

    * [Erik Støle](https://twitter.com/CheckOutErik) for organizing fashion shoots, and improving my style

    * [Howard Swartz](https://www.linkedin.com/profile/view?id=39532275) for hiring [Jacob Friedman](https://twitter.com/jacobfriedman) and me to build the carbon savings dashboard for queens university residences

    * [Tal Schwartz](https://twitter.com/talbschwartz) for making me part of [4more innovation](http://www.4moreinnovation.com/), patient qa testing, and interfacing with our sales team

    * [Noah Redler](https://www.linkedin.com/profile/view?id=67138692) for letting me work late at the  [notman house](http://notman.org/), and everyone behind the open work space there

    * [JG Debray](https://twitter.com/Da_Real_JG), [Oren Lefkowitz](https://twitter.com/o_lef), [Junaid Hussain](https://twitter.com/JunyDaJuiceMan) for putting me up for fall in montreal

    * [Brendan Leigh](http://www.brendanleigh.org/about) for asking me to collaborate on his [montreal metro stations](http://stm.brendanleigh.org/) photo essay

    * [Gary Schwartz](https://www.linkedin.com/profile/view?id=1449128) for bringing me to toronto to start the next chapter in my life

    And many more, I'm sure. Thank you. 