.about
  :markdown
    **AJ Ostrow**
    
    Hi there. I'm a full stack developer with a strong intuition for business strategy. I learned everything I know by working on projects and reading books, blog posts, and tweets. I place a high value on critical thinking, execution, experimentation and much less value on formal education, theory, credentials. 
    
    In the past I have built entire solutions in retail trading, identity verification and compliance, ecommerce, social discussions, and contributed to products and services in social media, proprietary trading, food delivery, laboratory monitoring, geofencing, and digital collectibles. 
    
    I received a lot of help along the way. See my [Wall of Thanks](/thanks). 

    **Technical Articles**
    
    I try to share tips and tricks from my day to day software development. I choose not to delete old articles. If the article is more than a few months old, let alone a few years old, it may no longer reflect my abilities or opinions. I wrote the vast majority of these articles before I was legally allowed to drink. 
    