.about
  :markdown
    **AJ Ostrow**
    
    I spend most of my time writing code in Toronto. It took a lot of generosity to be here, and while it's only
    the beginning, I want to thank some key friends and mentors. 
    
    In roughly chronologic order: 

    * [Adam Moshcatel](https://twitter.com/Moshcatel) for introducing me to [xkcd](http://xkcd.com/) and writing java code with me every day in 12th grade

    * [Hélène Martin](https://twitter.com/purplespatula) for teaching me computer science and tolerating me at a young age

    * [Chris Mills](https://twitter.com/mjillster) for hiring me as [cobalt](http://www.cobalt.com/)'s first-ever intern and pairing me with wonderful mentors

    * [Michael Abrash](http://blogs.valvesoftware.com/abrash/) for lending me a new android phone and encouraging me to code in my free time

    * [Jacob Barnett](http://jbarnett.me/) for waking me up for exams and teaming up for [mastermind](https://play.google.com/store/apps/details?id=com.ostrow.mastermind) our android app

    * [Carl Poulin](https://github.com/lilred) for competing in code jam in 1st year with [Sami Jaber](http://samijaber.me/) and me

    * [Alex Bandhari](https://twitter.com/abyoungz) for long nights at new rez studying circuits

    * [Arielle Domb](https://instagram.com/ariellehdomb/) for furnishing my first apartment

    * [Jack Johnson](https://twitter.com/J_AC_K) for what could have been meander

    * [Artur Minacov](https://twitter.com/aminacov) for introducing me to the startup lyfe with modreal

    * [Marc-Etienne Brunet](https://www.linkedin.com/pub/marc-etienne-brunet/67/416/77) for adding me to the [mcgill energy project](http://mcgillenergyproject.wix.com/start) and hiring me for research projects

    * Marco Gomez for letting the modde team work out of his beautiful office space

    * [Anthony Guay](https://twitter.com/anthoprotic) for writing modde with me and moving on for better things

    * [Nick Mostovac](https://twitter.com/cocoabuttuh) for hosting me for summer in montreal

    * [Harry Brundage](https://twitter.com/harrybrundage) for teaching me how to package my first ruby gem [espn-scraper](https://github.com/aj0strow/espn-scraper)

    * [Michael Gord](https://twitter.com/BasedGord) for being a great friend

    * [Erik Støle](https://twitter.com/CheckOutErik) for organizing modde fashion shoots and improving my style

    * [Howard Swartz](https://www.linkedin.com/profile/view?id=39532275) for hiring [Jacob Friedman](https://twitter.com/jacobfriedman) and me to build carbon savings for queens university

    * [Tal Schwartz](https://twitter.com/talbschwartz) for co-founding [4more innovation](http://www.4moreinnovation.com/) together

    * [Noah Redler](https://www.linkedin.com/profile/view?id=67138692) for letting me work late at the [notman house](http://notman.org/) also thanks to everyone behind the open work space

    * [JG Debray](https://twitter.com/Da_Real_JG) for hosting me for fall in montreal

    * [Brendan Leigh](http://www.brendanleigh.org/about) for including me on his [montreal metro stations](http://stm.brendanleigh.org/) photo essay

    * [Gary Schwartz](https://www.linkedin.com/profile/view?id=1449128) for believing in me and providing me every opportunity
    
    * [Marcus Daniels](https://twitter.com/marcusdaniels) for letting me code evenings and weekends at the [highline](http://www.highline.vc/) space
    
    * Harold Arviv for introducing me to the world of finance and trading
    
    * [Tim Gilbert](https://www.linkedin.com/in/tim-gilbert-63041124/) for lending me a desk at [Gilbert's Law](http://www.gilbertslaw.ca/) to work after hours

    Thank you. 
    
    ---
    
    Please no recruitment. I want to stay focused. 
    
    I don't do contract work; i'm not interested in your app idea. 
        