.about
  :markdown
    **AJ Ostrow**

    I was born american and raised in seattle. I moved to montreal to study computer engineering at
    mcgill, but grew impatient with education, so i left to pursue startup dreams. I spend most of my time 
    working in toronto now. 

    If anything i'm a product of kindness from others. In no particular order:

    * [Adam Moshcatel](https://twitter.com/Moshcatel) for introducing me to [xkcd](http://xkcd.com/) and writing java code with me every day in 12th grade

    * [Hélène Martin](https://twitter.com/purplespatula) for teaching me computer science and tolerating me at a young age

    * [Chris Mills](https://twitter.com/mjillster) for hiring me as [cobalt](http://www.cobalt.com/)'s first-ever intern, encouraging me to learn each day, and pairing me with wonderful mentors

    * [Michael Abrash](http://blogs.valvesoftware.com/abrash/) for lending me a new android phone, and encouraging me to code in my free time or find a different passion

    * [Jacob Barnett](http://jbarnett.me/) for studying with me 1st year at mcgill, waking me up for exams, and teaming up for [mastermind](https://play.google.com/store/apps/details?id=com.ostrow.mastermind) our android app

    * [Carl Poulin](https://github.com/lilred) for competing in code jam in 1st year with [Sami Jaber](http://samijaber.me/) and me

    * [Alex Bandhari](https://twitter.com/abyoungz) for long nights at new rez studying circuits in 2nd year

    * [Jack Johnson](https://twitter.com/J_AC_K) for what could have been meander

    * [Artur Minacov](https://twitter.com/aminacov) for teaching me to the startup lyfe with modreal and convincing me to spend a summer in toronto

    * [Marc-Etienne Brunet](https://www.linkedin.com/pub/marc-etienne-brunet/67/416/77) for accepting me into the [mcgill energy project](http://mcgillenergyproject.wix.com/start), hiring me for the steam and fume hood research

    * [Marco Gomez](http://www.yoloventures.com/) for letting our team work out of his beautiful old port office space

    * [Anthony Guay](https://twitter.com/anthoprotic) for building the modde app, iterating with me, and moving on for better things together

    * [Nick Mostovac](https://twitter.com/cocoabuttuh) for letting me stay a summer in montreal

    * [Harry Brundage](https://twitter.com/harrybrundage) for teaching me how to package my first ruby gems [espn-scraper](https://github.com/aj0strow/espn-scraper) and [measurement](https://github.com/aj0strow/measurement)

    * [Michael Gord](https://twitter.com/BasedGord) for being a great friend

    * [Erik Støle](https://twitter.com/CheckOutErik) for organizing modde fashion shoots and improving my style

    * [Howard Swartz](https://www.linkedin.com/profile/view?id=39532275) for hiring [Jacob Friedman](https://twitter.com/jacobfriedman) and me to build the carbon savings dashboard for queens university

    * [Tal Schwartz](https://twitter.com/talbschwartz) for co-founding [4more innovation](http://www.4moreinnovation.com/) together

    * [Noah Redler](https://www.linkedin.com/profile/view?id=67138692) for letting me work late at the [notman house](http://notman.org/) also thanks to everyone behind the open work space there

    * [JG Debray](https://twitter.com/Da_Real_JG) for letting me stay for fall in montreal

    * [Brendan Leigh](http://www.brendanleigh.org/about) for including me on his [montreal metro stations](http://stm.brendanleigh.org/) photo essay

    * [Gary Schwartz](https://www.linkedin.com/profile/view?id=1449128) for taking me under his wing and bringing me to toronto

    And many more, I'm sure. Thank you. 
    
    ---
        
    I'm not available for hire, i don't do contract work, i'm not interested in your app idea.  
    