.articles
ul.pager
  - var prev = page - 1
  - var next = page + 1
  if prev >= 0
    li.previous
      a(href="/articles/#{prev}") &larr; prev
  if next <= 2
    li.next
      a(href="/articles/#{next}") next &rarr;
