h1 About

:markdown
  Thanks for visiting! 
  
  I spend my time building web applications with startups in Canada. I never imagined this would be 
  my path in life, so let me explain. 
  
  I was born and raised in Seattle. Growing up I loved basketball and wanted to be in the NBA, but
  relatively short jewish boys rarely make league. In 11th grade I started programming and thankfully
  software became my passion. 
  
  I spent three semesters learning from Ms. Martin, and three summers interning with ADP working for
  Chris Mills. In only two years I had worked with Python, Scheme, Bash, and SQL, as well as earned university 
  credit with Java. 
  
  I moved to Montreal to study computer engineering at McGill University. I ended up releasing an Andriod
  app with Jacob Barnett, and learning Ruby On Rails. Later that year I joined Tal and Gary Schwartz to form
  4More Innovation, and built a micro-donation platform for sports fans. 
  
  That summer I applied for undergraduate research, but there were few positions for 2nd-years so I participated in a 
  business acceleration program in Toronto with Artur Minacov. We have since formed a new company Modde with Anthony
  Guay to take over where Modreal failed. 
  
  Upon returning to McGill, I built a fume hood monitoring service with Marc-Etienne Brunet. We hoped
  to save the university hundreds of thousands of dollars through behavior change, but the savings were much
  more modest due to optimizations within the chemistry lab infrastructure. 
  
  I decided after my fifth semester to postpone my studies indefinitely, as I was already working full-time 
  on ventures. I'm working with Modde in Montreal, Thinkwire in Toronto, and Sensor Stacks in San Francisco. 
  
  Anyway, enough about me. Hope you enjoy the rest of the site!