.projects
  h3 ajostrow.me
  img(src="/assets/stacks/ajostrow-me.png")
  h3 api.modde.co
  img(src="/assets/stacks/modde-api.png")
  h3 thinkwire.com
  img(src="/assets/stacks/thinkwire.png")
  h3 hoodlink (vpn only)
  img(src="/assets/stacks/hoodlink.png")
  h3 mastermind (android app)
  img(src="/assets/stacks/mastermind.png")
