.articles {
  overflow: hidden;
  padding-bottom: 20px;
}

.article {
  p {
    font-size: 16px;
    letter-spacing: 0.005em;
  }
  
  pre {
    border-top: 2px solid #eee;
    margin-top: 14px;
    margin-bottom: 24px;
    background: #f6f6f6;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    line-height: 1em;
  }
  
  code {
    font-size: 12px;
  }
  
  blockquote {
    margin-top: 20px;
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  
  h3 {
    font-size: 20px;
    margin-top: 42px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}