extends layout

block page
  .about
    h1.title AJ Ostrow
    :marked
      Hi there. I'm a full stack engineer with some intuition for business too. I learned everything that I know by working on projects, reading books, blog posts, and scrolling through tweets. 
      
      In the past I have built entire solutions in automated document processing, retail trading, identity verification, ecommerce, and online discussions. I have contributed to products and services in data labeling, knowledge retrieval, proprietary trading, food delivery, laboratory monitoring, geofencing, and digital collectibles. 
      
      I received a lot of help along the way. See my [Wall of Thanks](/thanks). 

      #### Technical Articles
      
      I try to share tips from my day-to-day software development. However, I choose not to delete old articles. If the article is more than a few months old, let alone a few years old, it may no longer reflect my current abilities or opinions. 
