doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet" href="/assets/layout.css")
    link(rel="stylesheet" href="/assets/highlightjs/styles/github.css")
  body
    .container-fluid
      .row
        .col-md-3.text-center
          .row
            .col-md-12.me
              - src = "http://graph.facebook.com/599647268/picture?height=200&type=square&width=200"
              img(src=src alt="AJ Ostrow").img-circle
          .row
            .col-md-12
              a(href="/about").menu About
              a(href="/articles").menu Articles
              a(href="/projects").menu Projects
          .row
            .col-md-12
              a(href="http://stackoverflow.com/users/824377/ajcodez" target="_blank").social
                img(src="/assets/social/stack-overflow.png" alt="stack overflow")
              a(href="https://github.com/aj0strow" target="_blank").social
                img(src="/assets/social/github.png" alt="github").
              a(href="http://www.linkedin.com/pub/alexander-ostrow/4b/5a9/8a9" target="_blank").social
                img(src="/assets/social/linked-in.png" alt="linked in")
              a(href="https://twitter.com/aj0strow" target="_blank").social
                img(src="/assets/social/twitter.png" alt="twitter")
          .row
            hr.col-md-9.col-md-offset-1
          .row.hidden-xs
            .col-md-12
              ul#recent-articles.text-left.recent-articles
        .col-md-8.scroll
          ol#breadcrumb.breadcrumb
          #ostrow.layout
    .copyright.text-muted &copy; AJ Ostrow, #{ (new Date).getFullYear() }
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45264033-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script(src="/assets/boot.js")